@charset "utf-8";
/* CSS Document */
/*谨记,我常犯的错误是将类选择器前面的圆点忘了*/

*
{ 	
	margin: 0; 
    padding: 0;
	font-size: 12px;
}

body
{
	background-color:#f5f5f5;
}

/*头部*/
.top
{
	width: 100%;
	height: 27px;
	background-color:#E8E8E8; 
	background:url(../images/top_bg.jpg) repeat-x;
}

.top_content
{
	width: 1000px;
	margin: 0 auto; /*使里面的内容居中显示*/
	background-color:#E8E8E8; 
}

.top_content li
{
	list-style-image:url(../images/li_bg.gif); /*将li标签前面的圆点换一个符号，应该使用list-style-image标签，就像清除圆点的道理一样*/
	float:right;
	width:70px;
	line-height:27px;
}

.top_content a:link,.top_content a:visited  /*初始状态和访问状态*/
{
	color:#8E8E8E;
	text-decoration:none;
}

.top_content a:hover,.top_content a:active  /*经过状态和活动状态（点击时）*/
{
	color:#900;
	text-decoration:none;
}

/*主体*/
.wrap
{
	width:1000px;
	margin: 0 auto;
}

.logo
{
	height:80px;
	background-color:#fff;
	
}

.logo_left
{
	width:200px;
	float:left;
}

.logo_right
{
	width:300px;
	float:right;
	height:28px;
	margin-top:30px;
	
}

.logo_right img
{
	vertical-align:middle;/*使右边的文字能够垂直对齐图标的中间*/
	margin-right:10px;
}

.tel
{
	font-family:"微软雅黑";
	font-size:16px;
	color:#F00;
}

/*导航部分*/
.nav
{
	height:40px;
}

.nav_left
{
	width:10px;
	background:url(../images/nav_left.jpg) no-repeat;
	/*float:left;
	height:40px;*/
}

.nav_mid
{
	width:980px;
	background:url(../images/nav_bg.jpg) repeat-x;
	/*float:left;
	height:40px;*/
}

.nav_right
{
	width:10px;
	background:url(../images/nav_right.jpg) no-repeat;
	/*float:left;
	height:40px;*/
}

.nav_left,.nav_mid,.nav_right  /* 这种连写方式与上面三个被注释的部分效果一样*/
{
	float:left;
	height:40px;
}

.nav_mid_left 
{
	width:680px;
}

.nav_mid_right
{
	width:300px;
}

.nav_mid_left,.nav_mid_right
{
	float:left;
}

.nav_mid_left li
{
	list-style:none; /*清除圆点*/
	width:100px; /*使内容隔开*/
	float:left;  /* 使文字水平方向显示*/
	line-height:40px;  /*在垂直方向居中*/
	text-align:center; /*每个li中的文字居中*/
}

.nav_mid_left a:link,nav_mid_left a:visited
{
	text-decoration:none;
	color:#FFF;
	font-size:16px;
	font-family:"微软雅黑";
}

.nav_mid_left a:hover,nav_mid_left a:active
{
	text-decoration:none;
	color:#F00;
	font-size:16px;
	font-size:"微软雅黑";
}

.search_text
{
	width:190px;
	height:25px;
	margin-top:5px;
	background:url(../images/search.jpg) no-repeat right center;
	background-color:#fff;
	color::#FFF;
	border:1px solid #FFF;
	padding-right:25px;
}

/*焦点图部分*/
.ad
{
	height:310px;
	overflow:hidden;
}

/*主体部分*/
.main
{
	width:1000px;
	height:250px;
	border:1px solid #E8E8E8;
	background-color:#FFF;
	margin-top:10px;
}

.news
{
	width:340px;
	float:left;
	height:250px;
	border:1px solid #E8E8E8;
}

.course
{
	width:410px;
	float:left;
	height:250px;
	border:1px solid #E8E8E8;
	margin:0 7px;
}

.sidebar
{
	width:230px;
	float:left;
	height:250px;
}


.title
{
	height:35px;
	line-height:35px;
	font-size:14px;
	font-family:"微软雅黑";
	color:#666;
	border-bottom:2px solid #E8E8E8;
}

.title_left
{
	
	padding-left:20px;
	float:left;
}

.title_right
{
	float:right;
	padding-right:10px;
}

.title_right a
{
	text-decoration:none;
	color:#999;
}

.pic_news
{
	height:80px;
	margin-top:10px;
	line-height:22px;
}

.pic_news img,.course_pic img
{
	float:left;
	margin:0 5px;
}

.pic_news a,.course_pic a
{
	text-decoration:none;
	color:#C00;
}

.news_list
{
	margin-top:20px;
}
	
.news_list li
{
	list-style:none;
	line-height:25px;
	background:url(../images/list.jpg) no-repeat;
	padding-left:10px;
	border-bottom:1px dotted #CCC;
}

.news_list li a:link,.news_list li a:visited
{
	text-decoration:none;
	color:#333;	
}

.news_list li a:hover,.news_list li a:active
{
	text-decoration:none;
	color:#F00;
}

.news_list li span
{
	color:#999;
	float:right;
}

.course_pic
{
	height:120px;
	margin-top:10px;
	line-height:22px;
}

.course_type
{
	height:37px;
	width:372px;
	margin:20px auto;
	background:url(../images/product_type_bg.jpg) no-repeat;
}

.course_type li
{
	list-style-type:none;
	float:left;
	line-height:37px;
	margin:0 15px;
}

.video
{
	height:185px;
	border:1px solid #E8E8E8;
}
.video_content
{
	height:150px;
}

.sidebar-ad
{
	height:55px;
	border:1px solid #E8E8E8;
}

/*底部版权部分*/
.copyright
{
	width:100%; 
	height:200px;
	margin-left:0px;
	background-color:#E8E8E8; 
	margin-top:10PX;
	clear:both;/*清除左右浮动，当新闻撑开时，使版权区的内容不受影响*/	
}

.copyright_content
{
	width:1000px;
	height:200px;
	background-color:#E8E8E8; 
	margin:0 auto;
	padding-top:20px;
	
}

.copyright_content li
{
	float:left;
	list-style:none;
	width:200px;
	line-height:30px;
	text-align:center;
	background:url(../images/line.png) no-repeat right center;
}

.copyright_content a
{
	text-decoration:none;
	color:#999;
	font-size:18px;
}

.copyright_content li ul li a
{
	font-size:14px;
}




/*新闻主体部分*/
.list_main
{
	min-height:350px;/*在兼容和IE8中打开，页面撑开不至影响下面的内容*/
	_height:350px;
	background-color:#FFF;
	margin-top:10px;
}

.news_type
{
	height:350px;
	width:220px;
	border:1px solid #E8E8E8;
	float:left;
}

.list_box
{
	width:770px;
	min-height:350px;/*内容很多，无法估计高度，设置最低高度，可以撑开页面*/
	_height:350px;/*只能在IE6中识别*/
	border:1px solid #E8E8E8;
	float:right;
	background-color:#FFF;
}

.news_type h2
{
	height:35px;
	line-height:35px;
	font-size:14px;
	font-family:"微软雅黑";
	color:#666;
	padding-left:20px;
	background:url(../images/titile_bg.gif) repeat-x;
}

.news_type_content
{
	height:365px;
	background:url(../images/content_bg.gif) repeat-x;
}
	
.news_type_content li
{
	list-style-type:none;
	height:30px;
	line-height:30px;	
}

.news_type_content li a
{
	display:block;
	color:#666;
	text-decoration:none;
	background:url(../images/li_bg.gif) no-repeat left center;
	padding-left:15px;
}

.news_type_content li a:hover
{
	color:#009CDF;
	background:url(../images/li_bg2.gif) no-repeat left center;
	background-color:#F2F2F2;
}

.list_box h2
{
	height:35px;
	line-height:35px;
	font-size:14px;
	font-family:"微软雅黑";
	color:#666;
	padding-left:20px;
	background:url(../images/type_bg.png) repeat-x;
}

.news_list
{
	
}

.page
{
	height:40px;
	margin-top:10px;
	text-align:center;
}

.page a
{
	display:inline-block;
	text-decoration:none;
	border:1px solid #E8E8E8;
	mardin:5px;
	padding:5px 10px;
}

.page a:link,.page a:visited
{
	color:#000;
}

.page a:hover,.page a:active
{
	color:#FFF;
	background-color:#cc1b1b;
}

.list_box h1
{
	font-size:20px;
	font-family:"微软雅黑";
	text-align:center;
	margin:10px 0;
}

.list_box_newsInfo
{
	color:#666;
	text-align:center;
	border-bottom:1px dotted #666;
}
	
.list_box_newsContent
{
	font-size:14px;
	padding:20px;/*文字与周边有距离了*/
	line-height:25px;/*行与行之间拉开了距离*/
	text-indent:2em;/*文本缩进2个字符*/
}	






















































































































